{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "YT": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],  
  "rules": {
  }
}

